<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>403</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/static/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/i/1265585456.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/static/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">403</strong> / <small>That’s an error</small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <h2 class="am-text-center am-text-xxxl am-margin-top-lg">403. Not PERMISSION</h2>
            <p class="am-text-center">对不起您没有权限访问该页面</p>
            <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  403!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
    </div>
</div>
<!-- content end -->

</div>

</footer>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{/static/js/polyfill/rem.min.js}"></script>
<script th:src="@{/static/js/polyfill/respond.min.js}"></script>
<script th:src="@{/static/js/amazeui.legacy.js}"></script>


<script th:src="@{/static/js/amazeui.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
</body>
</html>
