<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>发布上报信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/static/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/static/i/1265585456.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/static/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<!--头部-->
<header th:replace="header::header">
</header>
<!-- sidebar start -->
<div th:replace="sidebar:: sidebar"></div>
<!--主体-->
<!-- content start -->
<div class="admin-content" id="release">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">发布信息</strong> / <small>Personal
            information</small></div>
    </div>

    <hr/>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <div class="form-group">
                <label>当前模版标题:</label>
                <span v-text="title" style="color: #3bb4f2;font-family: 华文行楷;font-size: 30px"></span>
                <span v-text="error" style="color: #ffc107;font-family: 华文行楷;font-size: 30px"></span>
            </div>

            <form class="am-form am-form-horizontal" v-if="title!==''">
                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">输入要提示的信息</label>
                    <div class="am-u-sm-9">
                        <input type="text" name="text" v-model="msg">
                    </div>
                </div>
                <div class="am-margin" style="text-align: center">
                    <button type="button" class="am-btn am-btn-primary am-btn-xs" @click="release()">发布上报信息</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--尾部-->
<footer th:replace="footer:: footer">

</footer>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{/static/js/polyfill/rem.min.js}"></script>
<script th:src="@{/static/js/polyfill/respond.min.js}"></script>
<script th:src="@{/static/js/amazeui.legacy.js}"></script>
<script th:src="@{/static/js/amazeui.min.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/axios.min.js}"></script>
<script th:src="@{/static/js/vue.min.js}"></script>


<script type="text/javascript">
    var vm = new Vue({
        el: "#release",
        data: {
            msg: "",
            title:"",
            error:""
        },
        created(){
          axios.get("/message/info_template").then(resp=>{
              this.title=resp.data.title;
          }).catch(error=>{
              this.error="无模版信息";
          });
        },
        methods: {
            release() {
                axios.post("/message/release?msg="+this.msg).then(resp=>{
                    alert("发布成功");
                }).catch(error=>{
                   alert("当前没有模版可用，请找管理员确认");
                });
            }

        }


    });

</script>
</body>
</html>
